.checkbox {
    display: none;
}

.checkboxFrame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customCheckbox {
    width: 1.5em;
    height: 1.5em;
}

.customCheckbox::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    cursor: pointer;
    transition: all .2s;
}

.customCircleCheckbox::before {
    background-image: url("../../icons/circleEmpty.svg");
}

.checkbox:checked+.customCircleCheckbox::before {
    background-image: url("../../icons/circle.svg");
}